{
  "presets": ["env","stage-0"],
  "plugins": [
    "transform-class-properties",
    "babel-plugin-transform-decorators-legacy",
    [
      "transform-object-rest-spread",

      {
        "useBuiltIns":true
      }
    ]
    

  ]
}
